*~
*.bak
.project
.classpath
.settings/
src/.classpath
src/.project
bin/
/nbproject/private/
/build/
/.sonar/
/dist/
traces.xml
save*.xml
*.properties
doc/conception/Thumbs.db
doc/screenshots/Thumbs.db
doc/uml/actual/Thumbs.db
ressources/Thumbs.db
Thumbs.db
